@model TiendaVideojuegos.Models.Productos


<head>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>

<body class="fondo-compra">
    <div class="container-propio">
        <font color="white">
            <hr />
            <h1>Datos del producto @Model.Nombre</h1>
            <hr />
        </font>
        <br />
        <br />
        <img src="~/images/portadas/@Model.Imagen" width="300" height="400" style="float:left" />
        <p>
            <font color="white">
                <br />
                <br />
                <br />
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp; Nombre: @Model.Nombre</h4>
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp; Precio: @Model.Precio €</h4>
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp; Descripción: @Model.Descripcion</h4>
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp; Fecha lanzamiento: @Model.FechaLanzamiento</h4>
                <h4> &nbsp;&nbsp;&nbsp;&nbsp; Plataforma: @Model.Plataforma</h4>
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp; Imagen: @Model.Imagen</h4>
            </font>

            @if (TiendaVideojuegos.Services.UsuarioLogueado.Usuario != null)
            {
                @if (TiendaVideojuegos.Services.UsuarioLogueado.Usuario.Nombre == "admin")
                {
                  <a class="button"
                     sp-area="" asp-controller="Productos" asp-action="Comprar" asp-route-id="@Model.IdProducto">
                     Comprar producto a proveedor
                  </a>
                  <a class="button8"
                     sp-area="" asp-controller="Productos" asp-action="Edit" asp-route-id="@Model.IdProducto">
                     Editar
                  </a>
                 <a class="button9"
                     sp-area="" asp-controller="Productos" asp-action="Delete" asp-route-id="@Model.IdProducto">
                     Eliminar
                  </a>
                    <font color="white"><h4>  &nbsp;&nbsp;&nbsp;&nbsp; IdProducto: @Model.IdProducto</h4></font>
                    @if (Model.Articulos != null)
                    {
                        foreach (var item in Model.Articulos)
                        {
                           <font color="white"> <h4>  &nbsp;&nbsp;&nbsp;&nbsp; IdUnidad: @item.IdUnidad</h4></font>
                        }
                    }

                }

            }



            <a class="button2"
               asp-area="" asp-controller="Productos" asp-action="ComprarArticuloNuevoGet" asp-route-id="@Model.IdProducto">
                Comprar Artículo nuevo
            </a>

            <a class="button3"
               asp-area="" asp-controller="Productos" asp-action="ComprarArticuloSegundaManoGet" asp-route-id="@Model.IdProducto">
                Comprar Artículo Segunda Mano
            </a>

            <a class="button4"
               asp-area="" asp-controller="Productos" asp-action="ComprarAbonado" asp-route-id="@Model.IdProducto">
                Vender artículo Segunda Mano
            </a>
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>

